a {
  color: var(--wp--preset--color--primary);
  text-decoration: underline;
  text-decoration-skip-ink: auto; /* Reset */
  transition: var(--tran-default);

  &:hover,
  &:focus {
    color: var(--wp--preset--color--primary-dk);
    text-decoration: none;
  }

  nav & {
    display: block;
    text-decoration: none;
  }
}

/* Remove default focus rings */
a:focus,
button:focus,
input:focus {
  /*outline: none;*/
  outline: var(--focus-style);
  outline-offset: 0.125em;
}

/* Add them back when a keyboard is being used
:where(
  a:focus-visible,
  button:focus-visible,
  input:focus-visible
) {
  outline: var(--focus-style);
  outline-offset: 0.125em;
} */
