button[class],
input[type='submit'][class] {
  -webkit-appearance: none;
  border: 0;
}

.wp-element-button,
.btn__primary,
.btn__secondary,
.search-form .search-submit {
  /* A neutral default color */
  background-color: rgba(from var(--wp--preset--color--default-fg) r g b / 0.2);
  border-radius: 2rem;
  color: var(--wp--preset--color--default-fg);
  display: inline-block;
  font-family: var(--wp--preset--font-family--accent);
  font-size: 1.125rem;
  font-variation-settings: "wght" var(--fw-accent-bold);
  padding: 0.75em 1.75em;
  text-decoration: none;
  transition: var(--tran-default);

  @supports (text-box-trim: trim-both;) {
    text-box-trim: trim-both;
  }
  @supports not (text-box-trim: trim-both;) {
    line-height: var(--lh-tight);
  }
}

.wp-element-button:hover,
.wp-element-button:focus,
.search-form .search-submit:hover,
.search-form .search-submit:focus {
  background-color: rgba(from var(--wp--preset--color--default-fg) r g b / 0.35);
  color: var(--wp--preset--color--default-fg);
  cursor: pointer;
  text-decoration: none;
}

.btn__primary {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--default-bg);
}

.btn__secondary {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--primary-dk);
}

.btn__primary:hover,
.btn__primary:focus,
.btn__secondary:hover,
.btn__secondary:focus {
  background-color: var(--wp--preset--color--primary-dk);
  color: var(--wp--preset--color--secondary);
}
