button[class],
input[type='submit'][class] {
  -webkit-appearance: none;
  border: 0;
}

.btn,
.btn__primary,
.btn__secondary,
.search-form .search-submit {
  /* A neutral default color */
  background-color: rgba(from var(--wp--preset--color--default-fg) r g b / 0.2);
  border-radius: 2rem;
  color: var(--wp--preset--color--default-fg);
  display: inline-block;
  font-family: var(--wp--preset--font-family--accent);
  font-size: 1.125rem;
  font-variation-settings: "wght" var(--fw-accent-bold);
  padding: 0.75rem 1.75rem;
  text-decoration: none;
  transition: var(--tran-default);

  @supports (text-box-trim: trim-both;) {
    text-box-trim: trim-both;
  }
  @supports not (text-box-trim: trim-both;) {
    line-height: var(--lh-tight);
  }

  &:hover,
  &:focus {
    background-color: rgba(from var(--wp--preset--color--default-fg) r g b / 0.35);
    cursor: pointer;
    text-decoration: none;
  }
}

.btn__primary,
.btn__secondary {
  background-color: var(--wp--preset--color--primary-dk);
  color: var(--wp--preset--color--default-bg);

  &:hover,
  &:focus {
    background-color: var(--wp--preset--color--primary-dk);
    color: var(--wp--preset--color--secondary);
  }
}

.btn__secondary {
  background-color: var(--wp--preset--color--secondary);
  color: var(--wp--preset--color--primary-dk);
}
