.form {}

fieldset {
  border-color: var(--wp--preset--color--border-lt);
}

legend {
  /* typography settings in elements/typography.css */
}

label {
  font-size: var(--fts-small);
  font-weight: var(--fw-default-bold);
  
  + input {
    margin-block-start: 0.5em;
  }

  &:has( + textarea) {
    display: block;
  }
}

input:not([type='checkbox']):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"]) {
  border: 1.5px solid var(--wp--preset--color--border-lt);
  border-radius: var(--brad-sm);
  color: var(--wp--preset--color--default-fg);
  display: block;
  line-height: var(--lh-tight);
  padding: 0.75rem 1rem 0.625rem;

  &::placeholder {
    font-style: italic;
  }

  &:hover {
    border-color: var(--wp--preset--color--primary);
  }

  &:focus {
    border-color: var(--wp--preset--color--primary-dk);
    outline: 0;
  }
}
