table {
  border-collapse: collapse;
  text-align: start;

  caption,
  th,
  td {
    text-align: start;
  }

  caption {
    font-family: var(--wp--preset--font-family--accent);
    font-size: var(--wp--preset--font-size--h-3);
    font-variation-settings: "wght" var(--fw-accent-bold);
  }

  th {
    border-bottom: 2px solid var(--wp--preset--color--border);
    padding-block: 0.25em;
  }

  td {
    border-bottom: 1px solid var(--wp--preset--color--border-lt);
    padding-block: 0.25em;
  }

  th + th,
  td + td {
    padding-inline-start: 1em;
  }

  /* Opinionated! */
  /* Always make headers sticky */
  > thead,
  > tr > th {
    position: sticky;
    top: 0;
  }
}
