p, li, dl, dt, dd, figure, blockquote {
  hanging-punctuation: first last;
  text-wrap: pretty;
}

/* Set header line-height and anything with a header font size */
.has-xxl-font-size,
.has-xl-font-size,
h1, .has-h-1-font-size,
h2, .has-h-2-font-size,
h3, .has-h-3-font-size,
h4, .has-h-4-font-size,
h5, .has-h-5-font-size,
h6, .has-h-6-font-size {
  line-height: var(--lh-tight);
}

/* We declare these style specifically so that we can apply an override — i.e. <h2 class="h3"> */
/* Sizes for WP classes like ".has-h-6-font-size" are handled by inline styles  
 coming from the theme.json set up */
/*.ts-gigantic {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--xxl);
  font-variation-settings: "wght" var(--fw-accent-light);
}
*.ts-huge {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--xl);
  font-variation-settings: "wght" var(--fw-accent-normal);
}*/

h1, h1.wp-block-heading {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--h-1);
  font-variation-settings: "wght" var(--fw-accent-semi);
}

h2, h2.wp-block-heading{
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--h-2);
  font-variation-settings: "wght" var(--fw-accent-bold);
}

h3, h3.wp-block-heading {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--h-3);
  font-variation-settings: "wght" var(--fw-accent-bold);
}

h4, h4.wp-block-heading, blockquote:not(.is-style-plain) p, legend {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--h-4);
  font-variation-settings: "wght" var(--fw-accent-semi);
}

h5, h5.wp-block-heading {
  font-family: var(--wp--preset--font-family--default);
  font-size: var(--wp--preset--font-size--h-5);
  font-weight: var(--fw-default-bold);
}

h6, h6.wp-block-heading {
  font-family: var(--wp--preset--font-family--default);
  font-size: var(--wp--preset--font-size--h-6);
  font-weight: var(--fw-default-bold);
  letter-spacing: var(--ls-normal);
  text-transform: uppercase;
}

/* Vertical Rhythm
:is(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, figure, table, hr, pre) +
:is(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, figure, table, hr, pre) { */
/*.v__rhythm > * + * {
  @supports (margin-block-start: 1lh) {
    margin-block-start: 1lh;
  }
  @supports not (margin-block-start: 1lh) {
    margin-block-start: calc(var(--lh-normal) * 1rem);
  }
}*/

/*p .has-base-font-size {
  font-size: var(--wp--preset--font-size--base, 100%);
}*/

ul,
ol {
  @supports (margin-inline-start: 1lh) {
    margin-inline-start: 1lh;
  }
  @supports not (margin-inline-start: 1lh) {
    margin-inline-start: calc(var(--lh-normal) * 1rem);
  }
}

blockquote,
.wp-block-quote {
  color: var(--wp--preset--color--primary);
  overflow: hidden;
  padding-block: var(--wp--preset--spacing--sm);
  padding-inline-start: var(--wp--preset--spacing--lg);
  position: relative;

  &::after {
    background: center repeat-x url('../../images/yellow-hand-drawn-dots.svg') transparent;
    content: '';
    display: block;
    height: 0.75rem;
    position: absolute;
    left: calc(-50% + 0.75rem);
    transform: rotate(90deg);
    width: 100%;
  }
}

blockquote.is-style-plain,
.wp-block-quote.is-style-plain {
  /* The plain style allows the author to set the text color and the font size */
}


figure:has(blockquote) figcaption {
  padding-inline-start: var(--wp--preset--spacing--lg);
}

figure figcaption,
small {
  font-size: var(--wp--preset--font-size--small);
}

hr {
  background: left center repeat-x url('../../images/yellow-hand-drawn-dots.svg') transparent;
  border: none;
  height: 0.75em;
}