p, li, dl, dt, dd, figure, blockquote {
  hanging-punctuation: first last;
  text-wrap: pretty;
}

/* Set header line-height and anything with a header font size */
.has-xxl-font-size,
.has-xl-font-size,
h1, .has-h-1-font-size,
h2, .has-h-2-font-size,
h3, .has-h-3-font-size,
h4, .has-h-4-font-size,
h5, .has-h-5-font-size,
h6, .has-h-6-font-size {
  line-height: var(--lh-tight);
}

/* We declare these style specifically so that we can apply an override — i.e. <h2 class="h3"> */
/* Sizes for WP classes like ".has-h-6-font-size" are handled by inline styles  
 coming from the theme.json set up */
/*.ts-gigantic {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--xxl);
  font-variation-settings: "wght" var(--fw-accent-light);
}
*.ts-huge {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--xl);
  font-variation-settings: "wght" var(--fw-accent-normal);
}*/

h1, h1.wp-block-heading {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--h-1);
  font-variation-settings: "wght" var(--fw-accent-semi);
}

h2, h2.wp-block-heading {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--h-2);
  font-variation-settings: "wght" var(--fw-accent-bold);
}

h3, h3.wp-block-heading {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--h-3);
  font-variation-settings: "wght" var(--fw-accent-bold);
}

h4, h4.wp-block-heading, blockquote:not(.is-style-plain) p, legend {
  font-family: var(--wp--preset--font-family--accent);
  font-size: var(--wp--preset--font-size--h-4);
  font-variation-settings: "wght" var(--fw-accent-semi);
}

h5, h5.wp-block-heading {
  font-family: var(--wp--preset--font-family--default);
  font-size: var(--wp--preset--font-size--h-5);
  font-weight: var(--fw-default-bold);
}

h6, h6.wp-block-heading {
  font-family: var(--wp--preset--font-family--default);
  font-size: var(--wp--preset--font-size--h-6);
  font-weight: var(--fw-default-bold);
  letter-spacing: var(--ls-normal);
  text-transform: uppercase;
}

/* Vertical Rhythm
:is(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, figure, table, hr, pre) +
:is(h1, h2, h3, h4, h5, h6, p, ul, ol, dl, blockquote, figure, table, hr, pre) { */
/*.v__rhythm > * + * {
  @supports (margin-block-start: 1lh) {
    margin-block-start: 1lh;
  }
  @supports not (margin-block-start: 1lh) {
    margin-block-start: calc(var(--lh-normal) * 1rem);
  }
}*/

/*p .has-base-font-size {
  font-size: var(--wp--preset--font-size--base, 100%);
}*/

/* this is how WP does a drop-cap
.has-drop-cap:not(:focus):first-letter {
  float:left;
  font-size:8.4em;
  font-style:normal;
  font-weight:100;
  line-height:.68;
  margin:.05em .1em 0 0;
  text-transform:uppercase
} */
p.has-drop-cap:not(:focus):first-letter {
  color: var(--wp--preset--color--primary);
  font-family: var(--wp--preset--font-family--accent);
  font-size: 6em;
  font-variation-settings: 'wght' var(--fw-accent-light);
  margin: 0 0.125em 0 0;

  @supports (initial-letter: 3) {
    font-size: auto;
    float: none;
    initial-letter: 3;
  }
}

/* WP puts spacing on the UL, so we need to add inner spacing to the LI instead */
ul li,
ol li {
  @supports (margin-inline-start: 1lh) {
    margin-inline-start: 1lh;
  }
  @supports not (margin-inline-start: 1lh) {
    margin-inline-start: calc(var(--lh-normal) * 1rem);
  }
}

blockquote,
.wp-block-quote {
  color: var(--wp--preset--color--primary);
  overflow: hidden;
  padding-block: var(--wp--preset--spacing--sm);
  padding-inline-start: var(--wp--preset--spacing--lg);
  position: relative;

  &::after {
    background: top left repeat-y url('../../images/yellow-hand-drawn-dots-vert.svg') transparent;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0.75rem;
  }

  > cite {
    color: var(--wp--preset--color--default-fg);
    font-style: normal;
    font-weight: var(--fw-default-bold);
  }
}

blockquote.is-style-plain,
.wp-block-quote.is-style-plain {
  /* The plain style allows the author to set the text color and the font size */
}

/* Are these used anywhere? */
figure:has(blockquote) figcaption {
  padding-inline-start: var(--wp--preset--spacing--lg);
}

figure figcaption,
small {
  font-size: var(--wp--preset--font-size--small);
}

hr.wp-block-separator {
  background: left center repeat-x url('../../images/yellow-hand-drawn-dots.svg') transparent;
  border: none !important;
  height: 1em;
}