/*.skip-link:focus {
  background-color: $color__body-bg;
  box-shadow: 0 0 1rem rgba($black, 0.5);
  color: palette('brand-yellow') !important;
  padding: 0.625em 1.25em 0.75em;
  position: absolute !important;
  top: 0.5rem;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  z-index: z(skip-link);
}*/

.sr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

.sr--focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
    white-space: normal;
    clip-path: none;
  }
}
