/* Providence Post newsletter sign up */
/* <header> */
.prov-post {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: var(--wp--preset--spacing--sm);

  img {
    /* 414px breakpoint */
    @media (min-width: 25.875em) {
      max-width: 23.625rem;
    }
  }

  .newsletter {
    grid-area: newsletter;
    align-items: center;
  }

  h2 {
    margin-bottom: var(--wp--preset--spacing--x-sm);
  }
}

.prov-post-nav {

  ul {
    display: flex;
    align-content: center;
    justify-items: center;
    gap: 1em;
  }
}

/* 768px breakpoint */
@media (min-width: 48em) {
  .prov-post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'img byline'
      'img newsletter'
      'nav newsletter';
    align-items: end;

    nav {
      grid-area: nav;
      padding-block-end: 0.625em;
    }
    img {
      grid-area: img;
      width: 100%;
    }
    .has-accent-font-family {
      grid-area: byline;
    }
    .newsletter {
      flex-flow: column;
    }
  }
}

/* 1200px breakpoint */
@media (min-width: 75em) {
  .prov-post {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'img byline'
      'nav newsletter';

    .newsletter {
      flex-flow: row nowrap;

      .newsletter__description,
      .newsletter__form{
        flex: 1 1 max-content;
      }
    }
  }
}

/* Header with trailing dots */
/* <h2> */
.news-posts__title {
  overflow: hidden;
  position: relative;
  flex: 1 0 auto;

  b {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    position: relative;

    &::after {
      background: center left repeat-x url('../../images/yellow-hand-drawn-dots.svg') transparent;
      content: '';
      flex: 1 0 0px;
    }
  }
}

/* <article> */
.news-posts__item {
  position: relative;
  margin-block-end: var(--wp--preset--spacing--md);

  .news-posts__item__thumb img {
    transform: scale(1,1);
    transition: var(--tran-default);
  }

  &:hover .news-posts__item__thumb img {
    transform: scale(1.1,1.1);
    transform-origin: center;
  }
}

.news-posts__item__thumb {
  border-radius: var(--brad-sm);
  position: relative;
  overflow: hidden;
}

.news-posts__item__content {}

/* <h3> */
.news-posts__item__title {}

/* <a> */
.news-posts__item__link {
  display: block;
  text-decoration: none;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/* <p> */
.news-posts__item__excerpt {

  i {
    display: block;
    margin-block-start: var(--wp--preset--spacing--x-sm);
  }
}

/* - - - - Sticky posts container - - - - */
/* <section> */
.sticky-posts {
  display: flex;
  flex-flow: column;
  gap: var(--space-gap-default);
}

/* <h2> */
.sticky-posts__title {}

/* 768px breakpoint */
@media (min-width: 48em) {
  .sticky-posts {
    flex-flow: row wrap;
  }

  .sticky-posts .news-posts__item {
    flex: 1 0 48%;
  }

  .sticky-posts .news-posts__title,
  .sticky-posts article:first-of-type {
    flex: 1 0 100%;
  }
}

/* 1024px breakpoint */
@media (min-width: 64em) {
  .sticky-posts .news-posts__item {
    flex: 1 0 25%;
  }

  .sticky-posts .news-posts__title {
    flex: 1 0 100%;
  }

  .sticky-posts article:first-of-type {
    flex: 1 0 44%;
  }

  /* Make the headlines for the post teaser smaller */
  .sticky-posts article:nth-of-type(2) .news-posts__item__title,
  .sticky-posts article:nth-of-type(3) .news-posts__item__title {
    font-size: var(--wp--preset--font-size--h-4);
  }
}

/* - - - - Recent posts container - - - - */
/* <section> */
.recent-posts {
  display: flex;
  flex-flow: column;
  gap: var(--space-gap-default);
}

/* <h2> */
.recent-posts__title {}

/* <footer> */
.recent-posts__pagination {}

/* 768px breakpoint */
@media (min-width: 48em) {
  .recent-posts .news-posts__item {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--space-gap-default);
  }

  .recent-posts .news-posts__item__thumb {
    flex: 1 0 calc(40% - var(--space-gap-default)/2);
  }
}
