.newsletter {

  h2 {
    color: var(--wp--preset--color--secondary);
    line-height: var(--lh-tighter);
  }

  input {
    display: block;
    width: 100%;
  }
}

.newsletter,
.newsletter__form {
  display: flex;
  flex-flow: column;
  align-items: start;
  justify-content: center;
  gap: 1em;
  width: 100%;
}

.newsletter__description {
  width: 100%;
}

/* 592px breakpoint */
@media (min-width: 37em) {
  .newsletter__form {
    flex-flow: row nowrap;

    .btn__secondary {
      white-space: nowrap;
      width: auto;
    }
  }
}

/* 1200px breakpoint */
@media (min-width: 75em) {
  .newsletter {
    flex-flow: row nowrap;
    align-items: center;

    h2 {
      margin-top: -0.25em;
    }

    p {
      white-space: nowrap;
    }
  }
}
