.pagination {
  background: top left repeat-x url('../../images/yellow-hand-drawn-dots.svg') transparent;
  padding-block-start: var(--wp--preset--spacing--lg);

  .nav-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.25em;
  }

  .page-numbers {
    background-color: transparent;
    display: block;

    @supports (text-box-trim: trim-both;) {
      text-box-trim: trim-both;
      padding: 0.75em;
    }
    @supports not (text-box-trim: trim-both;) {
      line-height: var(--lh-tighter);
      padding: 0.75em 0.75em 0.5em;
    }

    &:hover,
    &:focus {
      background-color: var(--wp--preset--color--primary-tint);
    }

    &.current,
    &.current:hover,
    &.current:focus {
      background-color: var(--wp--preset--color--secondary);
      color: rgba(from var(--wp--preset--color--default-fg) r g b / 0.66);
      font-weight: var(--fw-default-bold);
    }

    &.dots:hover,
    &.dots:focus {
      background-color: transparent;
    }
  }
}

.in-the-press__pagination {
  margin-inline: auto;
  max-width: var(--wp--style--global--wide-size);
}
