.single__footer {
  margin-inline: auto;
  max-width: var(--wp--style--global--full-size);
  padding-block: var(--wp--preset--spacing--lg);
  padding-inline: var(--space-container-inline);
}

.single__category {
  background: top left repeat-x url('../../images/yellow-hand-drawn-dots.svg') transparent;
  padding-block: var(--wp--preset--spacing--lg);

  & + .single__tags {
    padding-block-start: 0;
  }

  /* 768px breakpoint */
  @media (min-width: 48em) {
    text-align: center;
  }
}

.single__tags {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: start;
  gap: 0.5em 1em;
  padding-block: var(--wp--preset--spacing--lg);
}

.single__tags__label {}

.single__tags__list {
  display: contents;

  li {}

  a {
    /* These elements use the `pps__tag` class */
  }
}

/* <nav class="navigation post-navigation" aria-label="Posts"> … </nav> */
.post-navigation {
  background: top left repeat-x url('../../images/yellow-hand-drawn-dots.svg') transparent;
  padding-block: var(--wp--preset--spacing--lg);

  .nav-links {
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    gap: var(--wp--preset--spacing--md);
  }

  .nav-previous,
  .nav-next {

    a,
    span {
      display: block;
    }
  }

  .nav-previous {}

  .nav-next {}

  .nav-label {
    color: var(--wp--preset--color--default-fg);
    font-weight: var(--fw-default-normal);
    padding-block-end: var(--wp--preset--spacing--x-sm);
    text-decoration: none;
  }

  .nav-title {}

  /* 768px breakpoint */
  @media (min-width: 48em) {
    .nav-links {
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .nav-previous {
      text-align: left;
    }

    .nav-next {
      text-align: right;
    }
  }
}