/* Andy Bell’s modern CSS reset. */
/* Pieces moved into the appropriate element files */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default spacing */
body, h1, h2, h3, h4, h5, h6, p,
figure, blockquote, ul, ol, dl, dd,
button {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
nav ul {
  list-style: none;
  margin-inline-start: 0;
  padding-inline-start: 0;

  li {
    margin-inline-start: 0;
  }
}

/*
  Make images easier to work with 
  Images from WordPress come with dimensions, hence the need for height: auto
*/
img,
picture {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
select {
  line-height: var(--lh-tight);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* Apply the browser default accent color to elements that accept it */
input,
progress {
  accent-color: var(--wp--preset--color--primary);
}

/* Make sure textareas without a rows attribute are not tiny */
:where(
  textarea:not([rows])
) {
  min-height: 8em;
}

/* Remove some default browser styles we don’t want */
address {
  font-style: normal;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
