:root {
  
  /*
    CSS variable definitions for PPS theme.
    Core variables are set via theme.json
  */

  /* Using the new color functions to adjust colors
     https://ishadeed.com/article/css-relative-colors/
     Looks like this: 
     color-function(from origin channel1 channel2 channel3 / alpha)
     rgba(from var(--wp--preset--color-default-fg) r g b / 0.10)
     
     Example: Make the color darker by 10% on the lightness channel:
     hsl(from #9333ea h s calc(l - 10));
     
     Apply opacity to a color:
     rgba(from var(--color) r g b / 0.5);
  */

  /* Max-width containers values */
  /* --wp--style--global--content-size: 48rem; 768px */
  /* --wp--style--global--wide-size: 92rem;    1472px */
  --wp--style--global--full-size: 106rem;  /* 1696px */

  /* - - - - - - - - – */
  /* Semantic variables */

  /* Focus */
  --focus-style: 0.125em dashed currentColor;

  /* Typography support */
  /*--wp--preset--font-family--default is set to 'poppins', sans-serif */
  --fw-default-normal: 400;
  --fw-default-bold: 700;
  /*--wp--preset--font-family--accent is set to 'loretta variable', serif */
  --fw-accent-light: 300;
  --fw-accent-normal: 450;
  --fw-accent-semi: 550;
  --fw-accent-bold: 700;

  /* Line heights */
  --lh-tight: 1.25;
  --lh-normal: 1.6;

  /* Letter spacing */
  --ls-normal: 0.0625em;
  --ls-loose: 0.125em;

  /* Spacing */
  --space-container-inline: var(--wp--preset--spacing--sm-md);
  --space-container-block: var(--wp--preset--spacing--md-xl);

  /* Others */
  --b-color-default: var(--wp--preset--color--border);
  --b-color-light: var(--wp--preset--color--border-lt);
  --b-style-default: solid;
  --b-size-default: 1.5px; 
  --b-size-thin: 0.5px; 
  --brad-sm: 4px;

  /* Transitions */
  --tran-default-property: all;
  --tran-default-timing: 250ms;
  --tran-default-function: ease;
  --tran-default: var(--tran-default-property) var(--tran-default-timing) var(--tran-default-function);

  /* Z-indices */
  --z-header: 1000;
}