/* Various column layouts */
.cols-9-3 {
  display: flex;
  flex-flow: column;
  gap: 0;

  & > *:last-child {
    padding-inline: var(--space-container-inline);
  }

  /* 768px breakpoint */
  @media (min-width: 48em) {
    flex-flow: row nowrap;
    gap: var(--wp--preset--spacing--xl);
    padding-inline: var(--space-gap-default);

    & > *:first-child {
      flex: 0 1 70%;
      padding-inline: 0 !important;
    }
    & > *:last-child {
      flex: 0 1 30%;
      max-width: 30rem; /* 480px */
      padding-inline: 0;
    }
  }
}
