.footer {
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--default-bg);
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 3em;
  padding-block: var(--wp--preset--spacing--lg) var(--wp--preset--spacing--xl);
  padding-inline: var(--space-container-inline);
  width: 100%;

  a {
    border-bottom: 1px solid transparent;
    color: var(--wp--preset--color--default-bg);

    &:hover,
    &:focus {
      border-bottom: 1px solid currentColor;
      color: var(--wp--preset--color--primary-tint-lt);
    }
  }

  a:focus,
  button:focus,
  input:focus {
    outline: var(--focus-style) var(--wp--preset--color--secondary);
    outline-offset: 2px;
  }

  .brand {
    color: var(---wp--preset--color--default-bg);
  }

  .brand__logo {
    height: 6em;
    width: 6em;
  }

  .brand__wordmark {
    height: 4em;
  }
}

@media (min-width: 48em) {
  .footer {
    flex-flow: row wrap;
    gap: 3em 1.5rem;
  }

  .brand,
  .footer__address {
    flex: 1 0 48%;
  }
}

.footer__image {
  background: radial-gradient(
    ellipse at bottom,
    rgba(from #72CCDA r g b / 1) 2%, rgba(from var(--wp--preset--color--primary) r g b / 1) 66%);
  display: none;

  @media (min-width: 48em) {
    display: block;
  }
}

.footer__address {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 0.75rem;
  width: 100%;
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
  align-items: start;
  gap: 3em 1.5rem;
  width: 100%;
}

.footer__col {
  flex: 1 0 calc(50% - 0.75rem);

  @media (min-width: 48em) {
    flex: 1 0 22%;
  }

  ul {
    padding-block-start: 0.375em;
  }

  li {
    padding: 0.375em 0;
  }

  a {
    line-height: var(--lh-tight);
  }
}

.footer__a11y,
.footer__legal {
  font-size: var(--fts-small);
}

.newsletter,
.newsletter__form {
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 1em;
  width: 100%;
}

.newsletter {

  .has-h-2-font-size {
    color: var(--wp--preset--color--secondary);
  }

  input {
    display: block;
    width: 100%;
  }
}

.newsletter__form {
  width: 100%;
  
  @media (min-width: 37em) {
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    gap: 1em;

    .btn__secondary {
      white-space: nowrap;
    }
  }
}
