/*
  The header needs to do a lot responsively.
  We break this file down into global styles, 
  those that happen for small screens,
  and then those that happen for larger screens,
  grouping them together by media query
*/

.js__observer {
  height: 1px;
  margin-block-end: -1px;
}

.skip-link:focus {
  /* Overrides for .button__secondary styles */
  border-radius: 0;
  display: block;
  text-align: center;
}

/* Global styles */
.header {
  backdrop-filter: blur(0.5em);
  background-color: rgba(from var(--fc-default-bg) r g b / 0.92);
  transition: box-shadow 500ms ease;

  .not-scrolled & {
    box-shadow: 0 0 1rem rgba(0,0,0,0);
  }
  .scrolled & {
    box-shadow: 0 0 1rem rgba(0,0,0,0.15);
  }
}

/* If the viewport is tall enough, support a sticky header — 640px */
@media (min-height: 40em) {
  .header {
    /* We prefer to always use sticky as its "ghost" will still leave space behind
      and scrolling will be much smoother (no elements will jump around) */
    position: sticky;
    top: 0;
  }
}

.header__wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.5em;
  padding-inline: var(--space-container-inline);
}

.header__wrap__start {}

.header__wrap__end {
  position: relative;

  .search-form {
    display: flex;
    flex-flow: row nowrap;
    padding: 0.75rem 1rem 0;

   .search-field {
      margin-inline-end: 0.5em;
      width: calc(100% - 0.5em);
    }

    .search-submit {
      /* See Buttons file for the submit button code */
      margin-block-start: 0;
    }
  }
}

.brand {
  color: var(--fc-default-fg);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--space-8-12);
}

.brand__logo {
  height: 4em;
  width: 4em;
}

.brand__wordmark {
  fill: currentColor;
  height: 3.125em;
}

/*
  Nav-switch: Min width, for larger screens - - - - - - - - -
*/
@media (min-width: 50em) {
  .header__wrap {
    padding-block-end: 0;
  }

  .brand__logo {
    margin-block-start: -0.25em;
    margin-inline-start: -0.5em;
    height: 6em;
    width: 6em;
  }
  
  .brand__wordmark {
    height: 5em;
  }

  .header__wrap__end {
    position: relative;
  
    .search-form {
      position: absolute;
      top: -99em;
    }
  }
}