/* Customized elements in the Admin */
@import '0_base/root.css';

/* Many of these are copies of the typography.css stylesheet */
.editor-styles-wrapper {

  /* Set header line-height and anything with a header font size */
  .has-xxl-font-size,
  .has-xl-font-size,
  h1, .has-h-1-font-size,
  h2, .has-h-2-font-size,
  h3, .has-h-3-font-size,
  h4, .has-h-4-font-size,
  h5, .has-h-5-font-size,
  h6, .has-h-6-font-size {
    line-height: var(--lh-tight);
  }
  
  .has-xxl-font-size,
  .has-xl-font-size {
    font-variation-settings: 'wght' var(--fw-accent-light) !important;
  }

  h1.wp-block-heading {
    font-family: var(--wp--preset--font-family--accent);
    font-size: var(--wp--preset--font-size--h-1);
    font-variation-settings: "wght" var(--fw-accent-semi);
  }

  h2.wp-block-heading {
    font-family: var(--wp--preset--font-family--accent);
    font-size: var(--wp--preset--font-size--h-2);
    font-variation-settings: "wght" var(--fw-accent-bold);
  }

  h3.wp-block-heading {
    font-family: var(--wp--preset--font-family--accent);
    font-size: var(--wp--preset--font-size--h-3);
    font-variation-settings: "wght" var(--fw-accent-bold);
  }

  h4.wp-block-heading, blockquote:not(.is-style-plain) p, legend {
    font-family: var(--wp--preset--font-family--accent);
    font-size: var(--wp--preset--font-size--h-4);
    font-variation-settings: "wght" var(--fw-accent-semi);
  }

  h5.wp-block-heading {
    font-family: var(--wp--preset--font-family--default);
    font-size: var(--wp--preset--font-size--h-5);
    font-weight: var(--fw-default-bold);
  }

  h6.wp-block-heading {
    font-family: var(--wp--preset--font-family--default);
    font-size: var(--wp--preset--font-size--h-6);
    font-weight: var(--fw-default-bold);
    letter-spacing: var(--ls-normal);
    text-transform: uppercase;
  }

  p.has-drop-cap:not(:focus):first-letter {
    color: var(--wp--preset--color--primary);
    font-family: var(--wp--preset--font-family--accent);
    font-size: 6em;
    font-variation-settings: 'wght' var(--fw-accent-light);
    margin: 0 0.125em 0 0;
  
    @supports (initial-letter: 3) {
      font-size: auto;
      float: none;
      initial-letter: 3;
    }
  }
}

.block-editor-block-list__layout em {
  font-style: italic;
}

/* Blockquote styles */
.block-editor-block-list__layout .wp-block-quote {
  color: var(--wp--preset--color--primary);
  overflow: hidden;
  padding-block: var(--wp--preset--spacing--sm);
  padding-inline-start: var(--wp--preset--spacing--lg);
  position: relative;

  &::after {
    background: center repeat-x url('../../images/yellow-hand-drawn-dots.svg') transparent;
    content: '';
    display: block;
    height: 0.75rem;
    position: absolute;
    left: calc(-50% + 0.75rem);
    transform: rotate(90deg);
    width: 100%;
  }
}

/** Images **/
:where(.editor-styles-wrapper) .is-layout-flow > .alignleft,
:where(.editor-styles-wrapper) .is-layout-flow > .alignright {
  max-width: 35%;
}
