@import '0_base/root.css';
@import '0_base/reset.css';

@import '1_elements/html-body.css';
@import '1_elements/anchors.css';
@import '1_elements/buttons.css';
@import '1_elements/typography.css';
@import '1_elements/forms.css';
@import '1_elements/tables.css';

@import '2_layout/header.css';
@import '2_layout/main.css';
@import '2_layout/columns.css';
@import '2_layout/footer.css';

@import '3_components/navs.css';
@import '3_components/tag.css';
@import '3_components/news-posts.css';
@import '3_components/events.css';
@import '3_components/breadcrumbs.css';
@import '3_components/pagination.css';
@import '3_components/newsletter-signup.css';
@import '3_components/post-header.css';
@import '3_components/post-footer.css';

@import '4_wordpress/general.css';
@import '4_wordpress/colors.css';
@import '4_wordpress/cover.css';
@import '4_wordpress/widgets.css';
@import '4_wordpress/helpers.css';

@import '5_utilities/a11y.css';
