/* Cover */
.wp-block-cover {

  /* When there is a group inside a cover item, style it a little */
  .wp-block-group {
    border-radius: var(--brad-sm);

    &.has-default-bg-background-color {
      background-color: rgba(from var(--wp--preset--color--default-bg) r g b / 0.92) !important;
    }
    &.has-default-fg-background-color {
      background-color: rgba(from var(--wp--preset--color--default-fg) r g b / 0.92) !important;
    }
    &.has-primary-background-color {
      background-color: rgba(from var(--wp--preset--color--primary) r g b / 0.92) !important;
    }
    &.has-primary-dk-background-color {
      background-color: rgba(from var(--wp--preset--color--primary-dk) r g b / 0.92) !important;
    }
    &.has-primary-tint-background-color {
      background-color: rgba(from var(--wp--preset--color--primary-tint) r g b / 0.92) !important;
    }
    &.has-primary-lt-tint-background-color {
      background-color: rgba(from var(--wp--preset--color--primary-lt-tint) r g b / 0.92) !important;
    }
    &.has-secondary-background-color {
      background-color: rgba(from var(--wp--preset--color--secondary) r g b / 0.92) !important;
    }
    &.has-secondary-tint-background-color {
      background-color: rgba(from var(--wp--preset--color--secondary-tint) r g b / 0.92) !important;
    }
    &.has-border-background-color {
      background-color: rgba(from var(--wp--preset--color--border) r g b / 0.92) !important;
    }
    &.has-border-lt-background-color {
      background-color: rgba(from var(--wp--preset--color--border-lt) r g b / 0.92) !important;
    }
    &.has-gray-lt-background-color {
      background-color: rgba(from var(--wp--preset--color--gray-lt) r g b / 0.92) !important;
    }
    &.has-border-md-background-color {
      background-color: rgba(from var(--wp--preset--color--border-md) r g b / 0.92) !important;
    }
  }
}