/* When a group has a background color, give it default padding */
.wp-block-group {
  &.has-background {
    padding-block: var(--wp--preset--spacing--sm);
    padding-inline: var(--wp--preset--spacing--sm-md);

    /* If nested groups, remove the default bg color */
    .wp-block-group:not(.has-background) {
      background-color: transparent;
    }
  }
}

.alignleft { float: left; }

.alignright { float: right; }

.alignleft,
.alignright {
  max-width: 42%;

  /* 1200px breakpoint */
  @media (min-width: 75em) {
    max-width: 35%;
  }
}

/* Override needed for a WordPress style */
.wp-block-image .aligncenter > figcaption,
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image.aligncenter > figcaption,
.wp-block-image.alignleft > figcaption,
.wp-block-image.alignright > figcaption {
  /* display: table-caption allows the figcaption to be wider than its parent figure */
  display: block;
}
