/* Widgets */

/* <ul> */
.wp-block-categories-list {
  list-style-type: none;

  li {
    margin-inline-start: 0;
  }

  a {
    text-decoration: none;
  }
}

.wp-block-search {
  
  .wp-block-search__input {
    max-width: 16rem; /* 256px */
  }
}